.footer
	.container 
		.footer__body 
			a.footer__logo(href="/") 
				img(src="../../../public/img/footer_logo.png", alt="")
			ul.footer__navigation
				li
					a(href="#") Вызвать эвакуатор
				li
					a(href="#") Добавить эвакуатор на сайт
				li
					a(href="#") Помощь
				li
					a(href="#") Правила оплаты
				li
					a(href="#") Защита персональных данных
