.header_main
	.container
		.header_main__info 
			.header_main__main_logo 
				img(src="../../../public/img/Illustration.png", alt="")
			.header_main__main_title
				span Здесь может быть ваш эвакуатор
