.header
	.container
		.header__content 
			a.header__logo(href="/") 
				img(src="../../../public/img/Logo.png", alt="")
			.header__navigation 
				ul.header__menu
					li 
						a(href="#") О проекте
					li 
						a(href="/contacts.html") Контакты
				a.header__menu_btn(href="/order.html") Добавить объявление