doctype html
html
	include includes/head
	body
		.body-wrap
			include includes/header
			section.banner 
				h1.banner__title 
					| Телефоны для вызова эвакуатора в&nbsp;
					span Москве
			section.contact_cards
					.contact_cards__body 
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления&nbsp;
											span 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления&nbsp;
											span 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления&nbsp;
											span 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления&nbsp;
											span 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/car1.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 5 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price нет
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.contact_cards__card 
							span.contact_cards__card_title Эвакуатор
							.contact_cards__card_content 
								img.contact_cards__card_img(src="../../public/img/contact-car.png", alt="")
								.contact_cards__card_characteristics
									.contact_cards__characteristics_field 
										span.contact_cards__type Легковой автомобиль
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Мотоцикл (квадроцикл и т.д.)
										span.contact_cards__price 3 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Внедорожник
										span.contact_cards__price 4 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Микроавтобус
										span.contact_cards__price 6 000 руб
									.contact_cards__characteristics_field 
										span.contact_cards__type Загородный тариф
										span.contact_cards__price 50 руб/км
								.contact_cards__card_contacts 
									span.contact_cards__phone_number +7 999 99 99
									span.contact_cards__home_number +7 999 99 99
									.contact_cards__adress 
										span.contact_cards__adress_location Место стоянки
										span.contact_cards__adress_place Москва, ул Пушкина
									a.contact_cards__ads(href="") 
										span.contact_cards__id ID объявления 63
										span.contact_cards__buy Заказать рекламу
							span.contact_cards__card_footer Эвакуатор авто. Всегда на связи! Быстро и надежно
						.pagination
							.pagination__prev
							.pagination__pages
								each page in [...Array(totalPages).keys()].map(n => n + 1)
									.pagination__page(data-page=page) #{page}
							.pagination__next
			include includes/footer
	include includes/foot