doctype html
html
	include includes/head
	body
		.body-wrap
			include includes/header
			include includes/header-main
			section.question
				.container
					.question__body
						.question__info 
							span.question__title.text_title Как вызвать эвакуатор в Москве дешево?
							span.question__subtitle.text_common Поломка авто или ДТП – случайностей на дороге много. Решение одно – вызвать эвакуатор и доставить неисправный автомобиль на СТО/парковку или в гараж в Москве. С помощью онлайн-сервиса Эварус вы сможете заказать услугу эвакуатора в Москве (Московской области) максимально быстро и при этом сэкономить. 
							br
							br
							span.text_common Мы предоставляем доступ к базе коммерческих и частных эвакуаторов Москвы. Это надежные компании, которые оперативно пришлют спецтехнику вам на помощь и обеспечат безопасную транспортировку авто.
						.question__avatar 
							img(src="../../public/img/avatar-1.png", alt="")
			section.delivery 
				.container 
					.delivery__body
						span.delivery__title.text_title Что нужно знать, чтобы заказать эвакуатор в Москве
						.delivery__info 
							.delivery__left
								.delivery__avatar 
									img(src="../../public/img/delivery-left.png", alt="")
								span.delivery__subtitle.text_common Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают круглосуточно. Когда бы вы не позвонили, эвакуатор найдется всегда. Размещая заказ на эвакуатор, ознакомьтесь с информацией о транспортной компании, проконсультируйтесь с ее специалистами и выберите оптимальный вариант перевозки своего ТС.
							.delivery__right
								.delivery__avatar 
									img(src="../../public/img/delivery-right.png", alt="")
								span.delivery__subtitle.text_common Примите во внимание, что одни и те же виды эвакуаторов рассчитаны на транспортировку авто разных классов. Вопрос заключается лишь в том, какой тип эвакуатор будет выгоднее задействовать в вашем случае. Следуя рекомендациям перевозчика, вы сможете недорого эвакуировать авто как в Москве, так и в области.
			section.price 
				.container 
					.price__body 
						span.price__title.text_title Что входит в стоимость перевозки эвакуатором
						span.price__subtitle.text_common Стоимость эвакуации включает в себя оплату услуг по погрузке, перевозке и выгрузке авто, а также по подаче эвакуатора в пункт дислокации ТС в Москве.
						span.price__subtitle-2.text_subtitle При формировании цены перевозчики берут в расчет четыре аспекта:
						.price__aspects 
							.price__aspect#aspect-1
								span.price__aspect_title Грузоподъемность эвакуатора
								span.price__aspect_subtitle Чем мощнее эвакуатор, тем дороже обходится ее эксплуатация, тем внушительнее будет сумма к оплате эвакуации
							.price__aspect#aspect-2
								span.price__aspect_title Предполагаемый пробег
								span.price__aspect_subtitle Учитывается удаленность стоянки эвакуатора от местоположения ТС, расстояние между пунктами погрузки в Москве и выгрузки авто
							.price__aspect#aspect-3
								span.price__aspect_title Дополнительное оборудование
								span.price__aspect_subtitle При эвакуации машин с серьезными поломками перевозчики оснащают эвакуатор вспомогательными приспособлениями, что закономерно отражается на стоимости транспортировки.
							.price__aspect#aspect-4
								span.price__aspect_title Уровень сложности
								span.price__aspect_subtitle При значительном повреждении автомобиля погрузочно-разгрузочные работы усложняются. Они требуют подключения водителя-оператора высокой квалификации
			section.pros 
				.container 
					.pros__body 
						span.pros__title.text_title Преимущества онлайн-сервиса ТутЭвакуатор.Ру
						span.pros__subtitle.text_common ТутЭвакуатор.Ру – это удобный сервис для тех, кому нужно недорого и быстро перевезти авто с техническими неисправностями или же с повреждениями, полученными при ДТП в Москве.
						span.pros__subtitle-2.text_subtitle Воспользовавшись ​ТутЭвакуатор.Ру, вы сможете:
						.pros__info
							ul.pros__list 
								li.pros__item.text_common получить постоянный доступ к базе надежных перевозчиков Москвы — сервис работает всегда, вне зависимости от воскресных/праздничных дней
								li.pros__item.text_common заказать эвакуатор круглосуточно — 24/7
								li.pros__item.text_common выбрать самое экономически выгодное предложение — цены на эвакуационные услуги рыночные, разница может быть ощутимой
								li.pros__item.text_common договориться с транспортной компанией напрямую — без посредников и комиссионных
								li.pros__item.text_common осуществить эвакуацию авто недорого — без скрытых платежей, неучтенных расходов
								li.pros__item.text_common вызвать эвакуатор в срочном порядке — охвачена Московская область, стоянки спецтехники базируются во многих районах Москвы, подача выполняется оперативно
							.pros__avatar 
								img(src="../../public/img/avatar-2.png", alt="")
						.pros__cards 
							.pros__card 
								span.pros__card_title.text_subtitle Как оплатить заказ на эвакуатор
								span.pros__card_subtitle.text_common Услуги по эвакуации вы оплачиваете непосредственно исполнителю – транспортной компании, взявшейся за перевозку вашего ТС. Оплата производится по завершении эвакуации, после выгрузки авто в конечной точке в Москве.
								span.pros__card_subtitle.text_common Формы оплаты стандартные для Москвы: наличный/безналичный расчет или банковский перевод. Эварус не взимает комиссионные с клиентов за пользование сервисом.
							.pros__card 
								span.pros__card_title.text_subtitle Как скоро прибудет эвакуатор
								span.pros__card_subtitle.text_common При оформлении заказа перевозчик сообщит вам расчетное время прибытия эвакуатора в точку погрузки авто. Как правило, в Москве это происходит в течение 10-15 мин., но зависит от загруженности дорог Москвы и погодных условий. Перевозчик, принявший заказ, будет информировать вас о наличии дорожных пробок и возможной задержке подачи эвакуатора. Автопарки наших партнеров находятся во многих районах Москвы, поэтому мы рекомендуем вам выбрать ближайший эвакуатор, чтобы ускорить процесс транспортировки авто.
			section.weight
				.container
					.weight__body 
						span.weight__title.text_title Какой вес может взять на борт эвакуатор
						span.weight__subtitle.text_common Эвакуатор используют для перевозки всех видов автотранспорта: от небольших квадроциклов до габаритных коммерческих авто. Эвакуатор способен транспортировать автомобили до 8 т.
						span.weight__subtitle-2.text_subtitle Виды эвакуаторов, доступные для заказа на ТутЭвакуатор.Ру:
					.weight__slider_block
						.weight__slider#cards
							.swiper-wrapper
								.swiper-slide.weight__slide
									.weight__slide_container
										.weight__slide_title
											span Эвакуатор с краном-манипулятором и прямой платформой
										.weight__slide_img 
											img(src="../../public/img/image6.png", alt="")
										.weight__slide_subtitle
											span Компактный и маневренный эвакуатор для транспортировки авто массой до 3,5 т. За счет вылета стрелы манипулятор осуществляет погрузку/разгрузку ТС с расстояния до 5 м. Он удобен для эвакуации автомобилей с узких улиц/дворов, небольших стоянок/парковок Москвы.
								.swiper-slide.weight__slide
									.weight__slide_container
										.weight__slide_title
											span Эвакуатор с краном-манипулятором и прямой платформой
										.weight__slide_img 
											img(src="../../public/img/car2.png", alt="")
										.weight__slide_subtitle
											span Универсальный и надежный эвакуатор для эвакуации любых видов транспортных средств, включая крупную сельскохозяйственную/строительную/коммунальную технику, а также авто с низким клиренсом. Этот тип эвакуатора может быть задействован при перевозке как сильно пострадавших в аварии автомобилей, так и ТС, которые в состоянии самостоятельно заехать на платформу эвакуатора.
								.swiper-slide.weight__slide
									.weight__slide_container
										.weight__slide_title
											span Эвакуатор с краном-манипулятором и прямой платформой
										.weight__slide_img 
											img(src="../../public/img/car3.png", alt="")
										.weight__slide_subtitle
											span Используется для перевозки ТС массой до 7 т. Автомобиль затаскивают на платформу эвакуатора по направляющим при помощи электрической/гидравлической/ручной лебедки. Эвакуатор данной модификации не применяется для транспортировки авто с АКПП или заблокированными колесами.
								.swiper-slide.weight__slide
									.weight__slide_container
										.weight__slide_title
											span Эвакуатор с краном-манипулятором и прямой платформой
										.weight__slide_img 
											img(src="../../public/img/car4.png", alt="")
										.weight__slide_subtitle
											span Основное назначение – транспортировка крупнотоннажной спецтехники, грузовых авто, автобусов.
						.weight__pagination
						.weight__next
						.weight__prev
					
			section.q-a 
				.q-a__body 
					.q-a__first_line
						.q-a__info
							span.q-a__title.text_title Что необходимо сообщить при заказе эвакуатора
							span.q-a__subtitle.text_common Чтобы выбрать эвакуатор с необходимыми техническими параметрами и минимизировать расходы, при вызове эвакуатора следует указать:
							ul.q-a__list 
								li.q-a__item.text_common марку, модель, год выпуска и полную массу авто
								li.q-a__item.text_common характер неисправности ТС
								li.q-a__item.text_common состояние ходовой части, трансмиссии, рулевого управления
								li.q-a__item.text_common адрес подачи эвакуатора и пункт конечного назначения в Москве
								li.q-a__item.text_common наличие ключей от авто и документов, подтверждающих право на управление ТС (водительские права, техпаспорт и доверенность, если вы не собственник авто)
						.q-a__avatar 
							img(src="../../public/img/avatar-3.png", alt="")
					.q-a__second_line
						.q-a__second_avatar 
							img(src="../../public/img/avatar-4.png", alt="")
						.q-a__second_info
							span.q-a__title.text_title Как эвакуировать авто с заблокированными колесами
							span.q-a__subtitle.text_common При помощи сервиса ТутЭвакуатор.Ру вы сможете вызвать эвакуатор в экстренных ситуациях, например, когда колеса авто заблокированы или ходовая ТС критически пострадала в результате аварии.
							span.q-a__subtitle.text_common Перевозка автомобиля с заблокированными колесами возможна несколькими типами эвакуаторов:
							ul.q-a__list 
								li.q-a__item.text_common Эвакуатор с манипулятором. На ТС устанавливают четыре колесных захвата, закрепленных на широких текстильных стропах. С помощью специальных петель оператор манипулятора регулирует длину строп, чтобы при перемещении на эвакуатор авто не кренилось. Стропы присоединяют к линейной или H-образной траверсе. Кран-манипулятор подхватывает траверсу за проушину, поднимает автомобиль и загружает на платформу эвакуатора.
								li.q-a__item.text_common Эвакуатор с гидроплатформой (без аппарелей) и лебедкой. Авто приподнимают домкратом, под заблокированные колеса устанавливают подкатные тележки. При помощи лебедки авто затягивают на наклонную платформу эвакуатора. После этого платформу эвакуатора приводят в горизонтальное положение.
			section.tabs 
				.container
					.tabs__tab-header
							button.tabs__tab-link.active(onclick="openTab(event, 'tab-price')") Стоимость
							button.tabs__tab-link(onclick="openTab(event, 'tab-order')") Как заказать
					.tabs__body
						#tab-price.tabs__tab-content.active
							.tabs__body 
								span.tabs__title.text_title Стоимость вызова эвакуатора для перевозки авто
								span.tabs__subtitle.text_common На сайте Эварус представлены цены, выставленные перевозчиками за стандартную услугу эвакуации авто по Москве и области. Начальная стоимость транспортировки зависит от габаритов и веса ТС: перевозка мотоцикла/малолитражки будет стоить дешевле, чем внедорожника/минивена. Дороже всего обойдется эвакуация неисправной спецтехники и грузового транспорта.
								span.tabs__subtitle-2.text_subtitle На стоимость услуги эвакуатора в Москве влияет ряд факторов:
								ul.tabs__list
									li.tabs__item.text_common класс, масса, степень повреждения транспортируемого авто
									li.tabs__item.text_common первоначальное месторасположение ТС в Москве и дальность следования
									li.tabs__item.text_common сложность погрузочно-разгрузочных операций
									li.tabs__item.text_common дорожные и погодные условия Москвы
								span.tabs__subtitle.text_common Окончательная цена зависит от того, куда подавать эвакуатор и где впоследствии выгружать автомобиль: Москва это будет или Московская область. Транспортировка по МО оплачивается согласно прайсу, плюс тариф за каждый км пробега от МКАД. Суммарная оплата увеличится, если машина находится в кювете/яме/гараже/водоеме и подъезд к ней усложнен. Стоимость возрастет и при наличии заблокированных колес/рулевого управления или серьезного повреждения ТС. 
								span.tabs__subtitle.text_common Все нюансы эвакуации авто вы сможете обсудить с перевозчиком. Ознакомившись с конкретной ситуацией, он озвучит цену и сроки подачи эвакуатора.
								span.tabs__subtitle-2.text_subtitle В каких случаях возможно изменение стоимости услуги после прибытия эвакуатора к месту погрузки авто:
								ul.tabs__list
									li.tabs__item.text_common простой эвакуатора по вине клиента
									li.tabs__item.text_common смена маршрута после размещения заказа
									li.tabs__item.text_common непредвиденное усложнение эвакуации из-за неправильных/неполных данных о ТС
								span.tabs__subtitle.text_common Во избежание незапланированных трат, сообщите диспетчерской службе подробные сведения о своем автомобиле и обстоятельствах его поломки.
						#tab-order.tabs__tab-content
							.tabs__body
								span.tabs__title.text_title Стоимость вызова эвакуатора для перевозки авто
								span.tabs__subtitle.text_common Воспользовавшись онлайн-ресурсом Эварус, вы сократите время на поиск эвакуатора в Москве, МО и закажете услугу по оптимальной цене. Вам не придется обзванивать знакомых или долго искать телефон эвакуатора в интернете. Проанализируйте предложения на нашем сайте, выберите лучшие условия и стоимость перевозки.
								span.tabs__subtitle-2.text_subtitle Как вызвать эвакуатор с помощью онлайн-сервиса ТутЭвакуатор.Ру:
								ul.tabs__number_list
									li.tabs__number_item.text_common Ознакомьтесь с картой Москвы и Московской области, на которой желтыми маркерами обозначены стоянки эвакуаторов.
									li.tabs__number_item.text_common Увеличьте масштаб и определите, какой из адресов находится рядом с местом вашей дислокации
									li.tabs__number_item.text_common Выберите ближайший эвакуатор и нажмите на соответствующий маркер
									li.tabs__number_item.text_common Просмотрите детальную информацию о перевозчике: возможные способы погрузки ТС, комплектацию автопарка, типы транспортируемых авто прайс с ценами
									li.tabs__number_item.text_common Кликните по голубому полю внизу карточки перевозчика и возьмите телефонный номер компании
									li.tabs__number_item.text_common Созвонитесь с диспетчером фирмы, обсудите детали эвакуации в Москве/МО и стоимость заказа
									li.tabs__number_item.text_common Сравните цены и условия перевозки у нескольких компаний, выберите наиболее подходящий для себя вариант
									li.tabs__number_item.text_common Сравните цены и условия перевозки у нескольких компаний, выберите наиболее подходящий для себя вариант
			include includes/footer
		include includes/foot